.reset-container {
  height: 100vh;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(22, 116, 86, 0.595), rgb(36, 71, 88));
}

.reset-container .form-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: rgb(2, 2, 30);
  color: #fff;
  padding: 3% 5%;
  border-radius: 15px;
}

.reset-container .form-1 h1 {
  font-size: 28px;
}

.reset-container .form-1 p {
  font-size: 14px;
}

.reset-container .form-1 .input-div {
  display: flex;
  background-color: #ffffff18;
  border-radius: 10px;
  padding-left: 10px;
  align-items: center;
}
.reset-container .form-1 .input-div label {
  cursor: pointer;
}

.reset-container .form-1 .input-div input {
  background-color: transparent;
  border: none;
  padding-left: 10px;
  height: 30px;
  width: 250px;
  color: #fff;
}
.reset-container .form-1 .input-div input:focus {
  outline: none;
}

.reset-container button {
  width: 90%;
  padding: 8px 0px;
  border-radius: 16px;
  border-style: none;
  background-image: linear-gradient(rgba(22, 116, 86, 0.595), rgb(36, 71, 88));
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.reset-container .verify-box {
  color: #fff;
  padding: 3% 5%;
  text-align: center;
  background-color: rgb(2, 2, 30);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.verify-box h1 {
  font-size: 26px;
}

.verify-box p {
  font-size: 14px;
}

.verify-box .otp {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
}

.verify-box .otp .input {
  width: 50px;
  height: 50px;
  background-color: rgba(57, 57, 57, 0.382);
  color: #fff;
  text-align: center;
  font-size: large;
  border-radius: 3px;
  border-style: none;
}

.verify-box button {
  width: 90%;
  padding: 8px 0px;
  border-radius: 16px;
  border-style: none;
  background-image: linear-gradient(rgba(22, 116, 86, 0.595), rgb(36, 71, 88));
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
