#login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#login .card {
  border-radius: 15px;
  background-color: rgb(1, 1, 29);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  gap: 15px;
}

#login .card h1 {
  font-weight: 500;
  color: #fff;
}
#login .card p {
  color: #d3eeec;
}
#login .card .input-field {
  display: flex;
  width: 100%;
  padding: 10px 15px;
  border-radius: 20px;
  align-items: center;
  gap: 3px;
  background-color: rgba(56, 56, 74, 0.566);
}
#login .card .input-field input {
  width: 100%;
  height: 20px;
  background-color: transparent;
  border: none;
  color: #fff;
  padding-left: 10px;
}
#login .card .input-field input:focus {
  outline: none;
}

#login .card .link {
  align-self: start;
  text-decoration: none;
  cursor: pointer;
}
#login .card .link p {
  color: rgb(14, 17, 194);
}

#login .card button {
  width: 100%;
  width: 100%;
}

#login .card .para-bottom {
  font-size: 14px;
}

#login .card button {
  height: 35px;
  border-radius: 20px;
  border-width: 0;
  font-weight: 600;
  background-color: rgb(14, 17, 194);
  color: #fff;

  cursor: pointer;
}

#login .card .bottom {
  display: flex;
  align-items: center;
  gap: 3px;
}
#login .card .bottom button {
  background-color: transparent;
  padding: 0;
  color: #fff;
  height: max-content;
  width: max-content;
  font-weight: 300;
  color: rgb(14, 17, 194);
}

#login .card .error {
  color: red;
  font-size: 12px;
}
